.button {
    width: 280px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid $accent-color;
    background-color: $accent-color;

    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.81;
    cursor: pointer;
}
.button-gray {
    background-color: $second-color;
    border: none;
    font-weight: 500;
    line-height: 1.735;
}