.courses{
    
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.slider__wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.slide {
    position: absolute;
    height: 712px;
    width: 1200px;
    text-align: center;
    transition: all 0.7s;
}

.lable::after{
    position: absolute;
    content: "Beginner";
    right: -55px;
    top: 26px;
    z-index: -2;

    color: #FFF;
    font-family: Ramabhadra, sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;

    width: 55px;
    height: 232px;
    border-radius: 0 28px 28px 0;
    background-color: #48B84A;
}

.slide--small{    
    height: 612px;
}

.slide img{
    width: 100%;
    height: 712px;
    border-radius: 5px;
    object-fit: cover;
    z-index: -2;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, black 87.86%);
    mask-image: linear-gradient(to top, transparent 10%, black 87.86%);
}

.play-button {
    margin-top: -420px;
    margin-bottom: 58px;
}

.slider__content-text {
    font-size: 30px;
    font-weight: 500;
    line-height: 1,25;
    color: $accent-color;
    margin-bottom: 18px;
}

.slider__content-author {
    font-size: 30px;
    font-weight: 500;
    line-height: 1,25;
    color: #FFFF;
    margin-bottom: 36px;
}

.slider__buttons-row {
    display: flex;
    column-gap: 25px;
    justify-content: center;
}
.slider__btn {
    margin-top: 780px;
    display: flex;
    justify-content: center;
    gap: 29px;
}

.slider__btn-prev,
.slider__btn-next {
    cursor: pointer;
}

.slider-pagination {
    color: #626262;
}

