.footer{
    
}

.footer__top{
    padding: 33px 0;
       background-color: $second-color;
}

.footer__copyright{
    margin: 0 auto;
    padding: 16px 0;
    background-color: $black-color;
}

.footer__copyright p{
    text-align: center;
    color: #FFFF;
    font-weight: 400;
    line-height: 1.25;

}