.subscribe {
    padding-top: 24px;
    padding-bottom: 48px;
}
.subscribe__wrapper {
    text-align: center;
}
.section__title {
    margin-bottom: 29px;
}

.subscribe__message {
    color: #FFF;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25; 
    text-transform: uppercase;
    margin-bottom: 75px;
}
.subscribe__block {
    .input{
        margin-right: 8px;
    }

    .button{
        width: 222px;
    }
}



